/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-bottom: 0px;
  text-align: center;
  color: white;
  padding: 5px 35px 5px 10px;
  font-size: 14px;
  position: absolute;
  width: 100%;
}

.alert-info {
  background: $green;
  border: 1px solid $green;
}

.alert-warning, .alert-danger {
  background: $red;
  border: 1px solid $red;
}

.close {
  font-size: 25px;
}
